<main class="container" [ngClass]="setearNivelTamannio()">
  <section class="paragraph">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus pellentesque eros in porta. Quisque id
      sem
      euismod, pellentesque orci non, pretium mi. Duis augue elit, venenatis in odio at, egestas tempus eros. Phasellus
      sapien turpis, suscipit nec egestas vitae, feugiat vel ligula. Aliquam nec eros consequat, tempor odio vel,
      scelerisque neque. Etiam laoreet sem at lacus scelerisque luctus. Etiam dictum nisi id eros vestibulum dignissim.
      Fusce efficitur pretium lorem ac tristique. In metus purus, elementum at hendrerit eget, blandit aliquam sem. Nunc
      fringilla diam enim, vitae vulputate nisi fringilla porta. Donec a pharetra est, quis mattis tellus.</p>
  </section>
</main>
